

<%= react_component("header") %>
<%= react_component("navigationbar") %>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

<%= render "devise/shared/error_messages", resource: resource %>



<div className=img; style="
  background-image: url(&quot;https://c1.wallpaperflare.com/preview/115/772/840/stock-exchange-boom-economy-pay.jpg&quot;);
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  opacity: 0.7;
  font-weight: bold;
  ">

<div id="sign up">


     <div class="container">

         <div id="signup-row" class="row justify-content-center align-items-center">

             <div id="signup-column" class="col-md-6">

                 <div id="signup-box" class="col-md-12">



            <form action="r" method="post" accept-charset="utf-8" class="form" role="form">
              <h1 class="text-center text-info">Sign UP</h1>

                    <h4><center>Let's STOCK Byte out of the MARKET!!!</center></h4>
                    <!-- <div class="row"> -->
                        <div class="form-group">
                            <%= f.label :nick_name %><br />
                            <%= f.text_field :nick_name, autofocus: true, class: "form-control" %>
                          </div>

                          <div class="form-group">
                            <%= f.label :email %><br />
                            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                          </div>

                          <div class="form-group">
                            <%= f.label :password %>
                            <% if @minimum_password_length %>
                            <em>(<%= @minimum_password_length %> characters minimum)</em>
                            <% end %><br />
                            <%= f.password_field :password, autocomplete: "new-password", class: "form-control"%>
                          </div>

                          <div class="form-group">
                            <%= f.label :password_confirmation %><br />
                            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
                          </div>

                          <div class="form-group">
                            <span class="help-block">By clicking Create my account, you agree to our Terms and that you have read our Data Use Policy, including our Cookie Use.</span>
                            <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block signup-btn" %>
                          </div>

            </form>

          </div>

</div>
<!-- </div> -->

</div>

</div>

</div>

</div>


<% end %>
